*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#welcome {
  font-size: 44px;
}

#welcome-sub {
  font-size: 20px;
}

/* ENTIRE DOCUMENT-SHAPE HOLDER */
.wrapper__dogma {
  /* border-radius: 30px;

  width: 50%;
  height: 50%;
  margin-left: 17.5%;
  margin-bottom: 7%;
  margin-top: 2%;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  text-align: center;
  /* justify-content: center; */
}

.header__section {
  margin-top: 2%;
}

/* body - about me */
/* this self__intro will determine 'grid' display */
.self__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.biography {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.biography__title {
  margin-bottom: var(--bottom-margin);
}

.biography__context {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* end of self__intro */

li {
  position: relative;
  top: 50%;
  display: inline;
  /* text-align: center; */
  /* transform: translate(0, -50%); */
  /* padding: 1rem; */
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
/* Note: 여기가 원인. 작업중. */
.container {
  display: grid inline;
  overflow: auto;
  align-items: center;
}

/* !!WRAPPING BODY CONTENT HERE!! */
.body__section {
  margin: 0;
  overflow: hidden;
  display: inline;
}


.left__split {
  grid-column: 1;
  width: 25em;
}

.right__split {
  grid-column: 2;
  width: 25em;
}

/* .about-me-picture {
  width: 30%;
  position: relative;
  text-align: center;
  padding: 1rem;
} */

/* footer - contact */
.contact {
  margin-top: 2rem;
  background: #f9d00f;
  background: linear-gradient(to right, #fc8a15 #fff6a2);
  padding: 200px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact h1 h2 {
  margin-bottom: var(--bottom-margin-2);
}

#contact__container {
  /* display: flex; */
  padding: 1rem;
  display: inline-block -moz-grid-line;
  position: relative;
  text-align: center;
  align-items: center;
  width: 750px;
  overflow-y: auto;
}

.button__contact {
  width: 180px;
  height: 50px;
  margin: 15px;
  display: inline-block;
}

 #contact__btn__one {
  background: #000000;
  background: linear-gradient(to right, #fff6a2, #00fff0);
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
} 

#contact__btn__two {
  background: #000000;
  background: linear-gradient(to right, #8a8879, #a100ff, #f9d00f);
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

#contact__btn__three {
  background: #000000;
  background: linear-gradient(to right, #fc8a15, #f9d00f);
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
} 

/* END OF CONTACT */


.body__picture {
  /* margin-left: 72px;
  margin-right: 72px; */
  max-width: 296px;
  /* height: 296px;
  width: 296px; */
  line-height: 30px;
  /* padding-left: 1rem; */
}

#skill__h1 {
  font-weight: 600;
  font-size: 1.75rem;
}

.body__context {
  font-size: 1rem;
  line-height: 30px;
}

.br__space {
  line-height: 32px;
}

/* WARNING - experimental area */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.intro {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.intro__head {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.intro__content {
  font-size: 60px;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* first page - top, button - 아래로 반응하기 */
.intro__button {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

/* global button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  /* height: 100%;
  width: 100%; */
  width: 80%;
  height: 80px;
  margin: 0;

  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}



/* body id */
#body__first {
  padding: 2.5rem;
}
#body__second {
  padding: 2.5rem;
}
#body__third {
  padding: 2.5rem;
}

/* body - skills */
.skills {
  background: #8bffff;
  background: -webkit-linear-gradient(to right, #3d6cb9, #8f71ff, #8bffff);
  background: linear-gradient(to right, #3d6cb9, #8f71ff, #8bffff);
  padding: 200px 0;
}

.skill__h1 {
  align-items: center;
  text-align: center;
}

/* END OF body - skills */

.contact__wrapper {
  background: #f9d00f;
  background: linear-gradient(to right, #fc8a15 #fff6a2);
  padding: 200px 0;
}



/* Project Only */
.projects {
  padding: 20px 0;
}

.project__title {
  margin: 1rem;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.project__description {
  align-items: center;
}

.project__picSetting {
  width: 55%;
  height: 50%;
}

.projects__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.project__link {
  color: #000000;
}

.project__DisplayBox {
  padding: 1rem;
}

/* End of project only */